<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="./images/IMG-20200229-WA0011c.jpg" alt="" width="300" height="600">

    </div>
    {{>footer}}
</body>

</html>